@CHARSET "UTF-8";
.blur {    
    -webkit-filter: blur(1px); /* Chrome, Opera */
       -moz-filter: blur(1px);
        -ms-filter: blur(1px);    
            filter: blur(1px);    
}

.tags-container{
	margin-left: 30px;	
	margin-right: 10px;
}

.tag-panel{
	min-width: 250px;
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	text-align: center;
	
	-moz-box-shadow:4px 4px 5px #888888;
	-webkit-box-shadow:4px 4px 5px #888888;
	box-shadow:4px 4px 5px #888888;
}

.tag-panel h1{
	color: white;
	text-align: center;
}